@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

:root {
  --primary: #695aa6;
  --secondary: #111;
  --third: #212529c0;
  scroll-behavior: smooth;
}
.pri-color {
  color: var(--primary);
}
.pri-back-color {
  background-color: var(--primary);
}
.sec-color {
  color: var(--secondary);
}
.def-text {
  font-family: "Open Sans", sans-serif;
}
body {
  font-family: "Baloo Paaji", cursive;
}
.banner {
  width: 100%;
  height: 100vh;
}

.banner-img {
  filter: grayscale(55%) blur(1px) brightness(0.35);
}

.testing {
  height: 1562px;
  width: 100%;
  background-color: red;
}

.my-navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99999999999;
}

.img-card {
  height: 15em;
}
/* =================down spinner =================*/
.loader {
  width: 24px;
  height: 43px;
  position: relative;
  bottom: 0.25em;
  cursor: pointer;
}

.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  animation: bounce 1s ease-in infinite alternate;
}
.loader::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 24px;
  height: 43px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
  animation: kick 1s ease-in infinite alternate;
}

@keyframes bounce {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 75%;
    opacity: 0.2;
  }
}
@keyframes kick {
  0%,
  75% {
    height: 43px;
  }
  100% {
    height: 39px;
  }
}
/*=================clients card================*/
.client-img {
  width: 80px;
  height: 80px;
  border: 5px solid white;
}
.client-card {
  min-height: 100px;
}
.client-card-content {
  padding-left: 50px;
}
.client-rev-con {
  font-size: 15px;
  font-weight: 400;
  color: #686767;
}
/*================skill=========================*/
.skill-icon {
  background-color: hsla(0, 0%, 80%, 0.096);
  color: var(--primary);
  border-radius: 50%;
  /* border: 1px gray solid; */
  font-size: 1.75em;
  /* padding: ; */
}
.progress-bar {
  margin-top: 0.5em;
  background-color: hsla(210, 2%, 22%, 0.158);
}
.progress-bar-inside {
  background-color: var(--third);
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: rgba(105, 105, 105, 0.25) !important;
}

/*================================================*/
.mt-extra {
  margin-top: 8em;
}

#toTop {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;

  border-radius: 5px;
  z-index: 99999999999;
  color: white;
  background-color: rgba(128, 128, 128, 0.6);
  font-size: large;
  display: none;
  cursor: pointer;
}
